<div style="height: 100px;"></div>

<section class="d-flex align-items-center min-vh-100 py-5 bg-secondary">
    <div class="container d-flex justify-content-center text-center">
        <div class="col-lg-8 col-md-10 col-12 px-0 d-flex flex-column">

            <h4 class="text-center mb-0"> Error 404</h4>
            <p class="text-center">Pagina Web no encontrada</p>
            <img src="../../../assets/img/svg/404.svg" alt="404" style="height: 250px;">
            <a routerLink="/inicio" class="pointer mt-2"> Volver al inicio</a>

        </div>
    </div>
</section>