<footer class="footer bg-faded-light">
    <div class="border-bottom border-light py-4">
        <div class="container d-sm-flex align-items-center justify-content-between">
            <a class="d-inline-block text-decoration-none h3 mb-0 text-white" routerLink="/inicio">
                <!-- <img src="img/logo/logo-light.svg" width="116" alt="logo"> -->
                LOGO
            </a>
        </div>
    </div>
    <div class="container pt-4 pb-3 pt-lg-5 pb-lg-4">
        <div class="row pt-2 pt-lg-0">

            <div class="col-lg-3 col-md-3 col-sm-6 offset-xl-1 mb-2 mb-sm-4">
                <ul class="list-unstyled fs-sm">
                    <li><a class="nav-link-light" routerLink="/inicio">Inicio</a></li>
                    <li><a class="nav-link-light" routerLink="/about">Quienes Somos?</a></li>
                    <li><a class="nav-link-light" routerLink="/contacto">Contacto</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 mb-2 mb-sm-4">
                <ul class="list-unstyled fs-sm">
                    <li><a class="nav-link-light">Politicas de Privacidad</a></li>
                    <li><a class="nav-link-light">Terminos y Condiciones</a></li>
                </ul>
            </div>

            <div class="col-xl-3 col-lg-3 col-sm-6 col-md-3 mb-2 mb-sm-4">
                <a class="d-flex align-items-center text-decoration-none mb-2" href="tel:3116473594"><i class="fi-device-mobile me-2"></i><span class="text-light">311 6473594</span></a>
                <a class="d-flex align-items-center text-decoration-none mb-2" href="mailto:example@email.com"><i class="fi-mail me-2"></i><span class="text-light">christiangazabon@email.com</span></a>

                <div class="d-flex flex-wrap pt-4">
                    <a class="btn btn-icon btn-translucent-light btn-xs rounded-circle mb-2 me-2">
                        <i class="fi-instagram"></i>
                    </a>
                    <a class="btn btn-icon btn-translucent-light btn-xs rounded-circle mb-2">
                        <i class="fi-facebook"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-lg-flex align-items-center justify-content-between fs-sm pb-3">
        <p class="text-center text-lg-start order-lg-1 mb-lg-0">
            <span class="text-light opacity-50">Todos los derechos reservados. ©</span><a class="nav-link-light fw-bold" rel="noopener">Christian Gazabon</a></p>
    </div>
</footer>
<!-- Back to top button-->
<a class="btn-scroll-top btn-success pointer" href="https://api.whatsapp.com/send/?phone=+573116473594&text=Hola,+como+estas.+Me+interesa+comprar+una+boleta+para+esta+rifa" target="_blank">
    <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Whatsapp</span>
    <i class="btn-scroll-top-icon fi-whatsapp"></i>
</a>